body{
    background: rgb(185, 27, 75);
}
.fill{
    background-image: url('http://source.unsplash.com/random/150x150');
    position: relative;
    height: 180px;
    width: 180px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
.empty{
    display: inline-block;
    height: 190px;
    width: 190px;
    margin: 10px;
    border: 5px rgb(66, 17, 85) solid;
    background-color: white;
}
.hold{
    border: solid #ccc 4px;
}
.hovered{
    background: #f4f4f4;
    border-style: dashed;
}
.invisible{
    display: none;
}